<!DOCTYPE html>
<div th:fragment="carousel(id, attractions)">
    <div id="carouselExampleIndicators-bran" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators-bran" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators-bran" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators-bran" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators-bran" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators-bran" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div
                    th:each="pic, index : ${items}"
                    th:attr="class=(${index} == 0 ? 'carousel-item active' : 'carousel-item')"
            >
                <img
                        th:src="@{${pic}}"
                        class="d-block img-fluid img-thumbnail"
                        alt="..."
                />
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators-bran" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators-bran" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>