<html lang="en">
    <head>
          <title>title</title>
          <link rel="stylesheet" type="text/css" href='/static/css/site.css' />
          <title>Hacker com.codecool.hackernews.models.News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="static/js/main.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                    <div class="navbar-header">
                            <a class="navbar-brand" href="/">title</a>
                        </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">hacksonNews</a></li>
                        <li><a href="/topNews">topNews</a></li>
                        <li><a href="/newest">+ newest +</a></li>
                        <li><a href="/jobs">+ jobs +</a></li>
                    </ul>
                </div>
        </nav>
        <h1 align = "center">hacksonNews</h1>
        <nav aria-label="Page navigation example" class="pagination">
          <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"> << </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#"> >> </a></li>
              </ul>
        </nav>
        <div id="items">
        </div>
    </body>
</html>