<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title>Restaurants</title>
    </head>
    <body>
        <div class="header text-center">
            <h1>Restaurants</h1>
        </div>

        <div class="container">
            <div th:each="restaurant : ${restaurants}">
                <div class="item" style="display: flex">
                    <div class="image">image</div>
                    <div class="details">
                        <div class="rating">rating</div>
                        <div class="description">description</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
