<!DOCTYPE html>
<div th:fragment="tourist_attraction" th:class="container">
    <div class="usefulInfo">
        <div class="schedule">
            <button class="schedule-btn" id="schedule-btn">
                <span>Visit Hours</span>
            </button>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close-modal">&times;</span>
                    <p>Schedule</p>
                </div>

            </div>
        </div>
        <div class="website">
            <button class="website-btn" th:url="${touristAttraction.getUrl()}">
                <span>View Website</span>
            </button>
            <i class='bx bx-link'></i>
        </div>
    </div>
    <div class="aboutAttraction mt-5">
        <div class="description">
            <p class="description-paragraph" th:text="${touristAttraction.getDescription()}">Description</p>
        </div>
        <div class="pictures">
            Pictures
        </div>
    </div>
</div>
