.headerAttraction {
    position: relative;
    margin: 0 auto 0 17vw;
}

.container-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.flexContainer {
    display: inline-block;
}

.usefulInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.schedule-btn,
.website-btn {
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid black;
}

.aboutAttraction {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*
    Attraction Description
*/

.description {
    width: 30vw;
    border: 1px solid #000000;
    border-radius: 6px;
}

.description-paragraph {
    margin: 45px 20px 45px 20px;
}

/*
    Attraction mini Images carousel
*/

.attractionImages {
    position: relative;
    height: 676.8px;
    width: 564px;
}

.attractionSlides {
    display: none;
    max-height: calc(564px + 30vw);
    max-width: calc(564px + 30vw);
}

.attractionColumn img {
    max-height: 112.8px;
    max-width: 20vw;
    float: left;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideNumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.attractionRow:after {
    content: "";
    display: table;
    clear: both;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.space {
    justify-self: flex-end;
    flex-grow: 1;
}

