<!DOCTYPE html>
<div th:fragment="hotels" class="hotels-container">
    <h3 class="hotels-near-header">Hotels near:</h3>
    <div class="hotels">
        <th:block th:each="hotel : ${hotels}">
            <div class="card-body" th:id="'hotel-' + ${#strings.arrayJoin(#strings.arraySplit(hotel.getName(), ' '), '-')}">
                <div class="hotel-image">
                    <div>
                        <img
                                th:src="@{${hotel.getFirstImage()}}"
                                class="d-block img-fluid img-thumbnail"
                                alt="...">
                    </div>
                </div>
                <h4 class="card-title" th:text="${hotel.getName()}">Hotel</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <div class="space"></div>
                <a href="" id="hotel-check">Check this hotel</a>
            </div>
        </th:block>
    </div>
</div>
